.playground {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bg {
  background-color: var(--pg_bg);
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.tabwrap {
  display: flex;
  color: white;
  font-size: 12px;
  cursor: default;
  user-select: none;
  padding: 6px;
  gap: 6px;
}
.tab {
  padding: 2px 7px;
  color: var(--text_2);
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background 100ms;
}
.tab:hover{
  background-color: var(--bg_gray);
}
.activetab {
  background: var(--bg_gray0);
  color: white;
}
.activetab:hover{
  background-color: var(--bg_gray0);
}
.res {
  background-color: rgb(245, 181, 181);
}
