.playground {
  position: relative;
}
.container {
  background-color: var(--pg_bg);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200%;
  padding: 300px;
  padding-inline: 0;
}
.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.res {
  background-color: rgb(245, 181, 181);
}
