.cmitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 7px;
  border-radius: 3px;
}
.cmitem1 {
  font-size: 10px;
  color: gray;
  font-weight: 500;
}
.cmitem:hover {
  background-color: var(--resizeblue);
}
.cmitem:hover .cmitem1 {
  color: white;
}
.cmitemoff {
  color: gray;
}
.cmitemoff:hover {
  background-color: transparent;
}
.cmitemoff:hover .cmitem1 {
  color: gray;
}
.contextmenu .br {
  height: 1px;
  margin: 5px 0;
  background-color: rgb(75, 75, 75);
}
