.ti {
  background-color: var(--pg_bg);
  border-radius: 3px;
  color: var(--text_0);
  display: flex;
  gap: 5px;
  width: 100%;
  position: relative;
}
.ti > input {
  all: unset;
  cursor: text;
  width: 100%;
  flex: 1;
  padding: 6px 0px 6px 6px;
  z-index: 0;
}
.auto {
  color: gray !important;
}
.dropdown {
  z-index: 1;
  background-color: black;
  border: 1px solid var(--gray_border);
  display: none;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  bottom: 0;
  transform: translateY(100%);
  color:var(--text_0);
}
.dropdown > div {
  padding: 5px;
}
.dropdown > div:hover{
  background-color: var(--hoverblue);
}
.ti > input:focus ~ .dropdown {
  display: block;
}
