.select {
  width: 100%;
  display: flex;
  border-radius: 6px;
  align-items: center;
  color: var(--wb_text);
  border: 1px solid var(--wb_border);
  background-color: var(--wb_surface_0);
  transition: border-color 150ms ease;
  position: relative;
}
.select:hover {
  border-color: var(--wb_border_highlight);
}
.si {
  all: unset;
  padding: 5px 8px;
  font-size: 12px;
  width: 100%;
  cursor: default;
  z-index: 1;
}
.sicon {
  position: absolute;
  right: 8px;
  color: var(--wb_text_dim);
}
.dropdown {
  position: absolute;
  display: none;
  min-width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 6px;
  border: 1px solid var(--wb_border);
  padding: 4px 0;
  background-color: var(--wb_surface_0);
  transform: translateY(2px);
}
.si:focus ~ .dropdown {
  display: block;
}
.dropdown > div {
  padding: 5px 8px;
  font-size: 12px;
}
.dropdown > div:hover {
  background-color: var(--wb_surface_2);
}
