.head {
  background-color: #283037;
  color: white;
  height: 35px;
  border-bottom: 1px solid #4a5565;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.licon {
  margin-left: 30px;
  align-self: center;
}
.l0 {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.l1 {
  color: white;
  font-size: 12px;
}
.h1 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.dimensions {
  display: flex;
  gap: 10px;
}
.d0 {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 7px;
  color: var(--text_2);
}
.d0:hover {
  color: white;
}
.active {
  color: white;
  background-color: var(--pg_bg);
}
.width {
  cursor: default;
  font-size: 12px;
  padding: 4px 7px;
  background-color: var(--pg_bg);
  color: var(--text_2);
  margin-left: 10px;
  display: flex;
  gap: 5px;
  width: 110px;
}
.width > div {
  border-right: 1px solid var(--gray_border);
  padding-right: 5px;
}
.fscreen {
  display: flex;
  align-items: center;
  margin-inline: 10px;
  color: var(--text_2);
  font-weight: bolder;
  padding-inline: 4px;
}
.fscreen:hover {
  background-color: var(--pg_bg);
}

.codebox {
  animation: popup 200ms ease;
}
@keyframes popup {
  from {
    scale: 0.95;
  }
  to {
    scale: 1;
  }
}

.codesidebar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.codesidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.codearea {
  background-color: black;
  flex: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.codearea::before {
  content: "";
  height: 20px;
  display: block;
  background-color: var(--bg_gray);
  text-align: center;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 10px;
}
.codearea > textarea {
  background-color: #2d2a2e;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  color: lightblue;
  padding: 10px;
}
.codearea > textarea:focus-visible {
  outline: none;
}
.codecopy {
  position: absolute;
  top: 60px;
  right: 10px;
  color: var(--text_2);
  cursor: pointer;
  text-align: center;
}
.codecopy:hover {
  color: var(--text_0);
}
.catabs {
  display: flex;
  height: 25px;
  cursor: pointer;
}
.catabs > div {
  flex: 1;
  text-align: center;
  padding: 3px 0;
}
.catabsactive {
  border-bottom: 2px solid var(--hoverblue);
}
.codewarning {
  color: red;
  padding: 10px;
}
