.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  color: white;
  display: flex;
  user-select: none;
}
.cont {
  width: 35px;
  height: 100%;
  background-color: var(--bg_gray);
}
.it {
  text-align: center;
  padding: 7px 0;
  cursor: pointer;
}
.it0 {
  color: var(--text_0);
}
.activetab {
  background-color: var(--bg_gray0);
  border-left: 1px solid white;
  .it0 {
    color: white;
  }
}
.a {
  width: 250px;
  background-color: var(--bg_gray0);
  font-size: 14px;
}
.head {
  padding: 12px 0;
  margin-inline: 20px;
}
.a1{
  display: flex;
  flex-wrap: wrap;
}
.a10{
  width: 50%;
  border: 1px solid gray;
  padding: 20px;
  color: var(--text_0);
  font-size: 12px;
  text-align: center;
  cursor: grab;
  /* display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column; */
}
.a10 svg{
  stroke-width: 1;
}
