.editor {
  background-color: white;
  position: relative;
  padding: 10px;
}
.resizable{
  position: absolute;
  z-index: 1;
  top: 0;

  background-color: rgb(27, 27, 27);
  height: 100%;
  width: 13px;
  transition: background-color 150ms;
  cursor: ew-resize;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resizable:hover{
  background-color: rgb(75, 75, 75);
}
.left{
  left: -13px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.right{
  right:-13px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.lines{
  color: darkgray;
  transform: scale(2,6);
}